USE [master]
GO
/****** Object:  Database [secret_santa]    Script Date: 29-12-2021 18:41:36 ******/
CREATE DATABASE [secret_santa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'secret_santa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\secret_santa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'secret_santa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\secret_santa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [secret_santa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [secret_santa]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 29-12-2021 18:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[employee_number] [varchar](50) NOT NULL,
	[employee_name] [varchar](50) NOT NULL,
	[date_of_joining] [varchar](50) NULL,
	[entity] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[santa_number] [varchar](50) NULL,
	[team] [varchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
