<div class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Something Went Worng Please Try to Contact the Admin</strong>
</div>